@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

body {
  font-family: "Nanum Pen Script";
  background-color: pink;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  padding: 20px;
  font-family: 'Yeon Sung', system-ui;
  font-family: 'Nanum Pen Script', cursive;
}

@media(min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media(max-width: 650px) {
  .App {
    width: 90vh;
  }
}

#root {
  background-color: #f7d9d9;
  box-shadow: rgba(100, 100, 111, 0.2) 0px, 7px, 30px, 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* MyButton */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 3px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;
  white-space: nowrap;
  font-family: "Nanum Pen Script";
}

.MyButton_default {
  background-color: #ececec;
  color: #000000;
}

.MyButton_positive {
  background-color: purple;
  color: white;
}

.MyButton_negative {
  background-color: orangered;
  color: white;
}



/** HEADER */

header {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  border-bottom: 1px solid purple;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

header button {
  font-family: "Nanum Pen Script";
}

/*LogList*/

.LogList .menu_wrapper {
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
}

.LogList .menu_wrapper .right_column {
  flex-grow: 1; /* right_column이 가능한 최대 너비를 가지도록 */
}

.LogList .menu_wrapper .right_column button {
   width: 100%; /* 빈공간 없도록  */
}

.LogList .ControlMenu {
  font-family: "Nanum Pen Script";
  font-size: 20px;
  cursor: pointer;

  margin-right: 10px;
  border: none;
  border-radius: 3px;
  background-color: #ececec;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}