@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&family=Yeon+Sung&display=swap');

body {
  font-family: "Nanum Pen Script";
  background-color: pink;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  padding: 20px;
  font-family: 'Yeon Sung', system-ui;
  font-family: 'Nanum Pen Script', cursive;
}

@media(min-width: 650px) {
  .App {
    width: 640px;
  }
}

@media(max-width: 650px) {
  .App {
    width: 90vh;
  }
}

#root {
  background-color: #f7d9d9;
  box-shadow: rgba(100, 100, 111, 0.2) 0px, 7px, 30px, 0px;
}

.App {
  min-height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
}

/* MyButton */
.MyButton {
  cursor: pointer;
  border: none;
  border-radius: 3px;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  font-size: 18px;
  white-space: nowrap;
  font-family: "Nanum Pen Script";
}

.MyButton_default {
  background-color: #ececec;
  color: #000000;
}

.MyButton_positive {
  background-color: purple;
  color: white;
}

.MyButton_negative {
  background-color: orangered;
  color: white;
}



/** HEADER */

header {
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  border-bottom: 1px solid purple;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 25px;
  justify-content: center;
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

header button {
  font-family: "Nanum Pen Script";
}

/*LogList*/

.LogList .menu_wrapper {
  margin-top: 20px;
  margin-bottom: 30px;

  display: flex;
  justify-content: space-between;
}

.LogList .menu_wrapper .right_column {
  flex-grow: 1; /* right_column이 가능한 최대 너비를 가지도록 */
}

.LogList .menu_wrapper .right_column button {
   width: 100%; /* 빈공간 없도록  */
}

.LogList .ControlMenu {
  font-family: "Nanum Pen Script";
  font-size: 20px;
  cursor: pointer;

  margin-right: 10px;
  border: none;
  border-radius: 3px;
  background-color: #ececec;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

/*LogItem*/
.LogItem {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;

  display: flex;
  justify-content: space-between;
}

.LogItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 120px;
  height: 80px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
}

.LogItem .emotion_img_wrapper_1 {
  background-color: #64c964;
}

.LogItem .emotion_img_wrapper_2 {
  background-color: #9dd772;
}

.LogItem .emotion_img_wrapper_3 {
  background-color: #fdce17;
}

.LogItem .emotion_img_wrapper_4 {
  background-color: #fd8446;
}

.LogItem .emotion_img_wrapper_5 {
  background-color: #fd565f;
}

.LogItem .emotion_img_wrapper img {
  width: 50%;
}

.LogItem .info_wrapper {
  flex-grow: 1;
  margin-left: 25px;
  cursor: pointer;
}

.LogItem .log_date {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 5px;
}

.LogItem .log_content_preview {
  font-size: 15px;
}

.LogItem .button_wrapper {
  min-width: 70px;
}

/* LogEditor */


.LogEditor section {
  margin-bottom: 40px;
}

.LogEditor h4 {
  font-size: 25px;
  font-weight: bold;
}

.LogEditor .input_date {
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  cursor: pointer;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  
  font-family: "Nanum Pen Script";
  font-size: 20px;
}


.LogEditor .emotion_list_wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto); /*일단 다섯개만 놓아라*/
  gap: 2%;
}


.LogEditor textarea {
  font-family: "Nanum Pen Script";
  font-size: 20px;

  width: 100%; /*크기 고정*/
  resize: vertical; /*가로로는 텍스트박스를 늘릴 수 없게*/
  min-height: 200px;
  box-sizing: border-box;

  padding: 20px; 
  border: none;
  border-radius: 3px;
  background-color: #e2e2e2;
}


/* EmotionItem */

.EmotionItem {
  cursor: pointer;
  border-radius: 3px;

  padding-top: 20px;
  padding-bottom: 20px;

  display: flex; /*가로로 */
  flex-direction: column; /* 다시 세로로(텍스트에 해당함 여기서는) */
  justify-content: center;
  align-items: center;
}

.EmotionItem img {
  width: 50%;
  margin-bottom: 10px;
}
.EmotionItem span {
  font-size: 20px;
}

.EmotionItem_off {
  background-color: #ececec;
}

.EmotionItem_on_1 {
  background-color: #64c964;
  color: white;
}

.EmotionItem_on_2 {
  background-color: #64c964;
  color: white;
}

.EmotionItem_on_3 {
  background-color: #fdce17;
  color: white;
}

.EmotionItem_on_4 {
  background-color: #fd8446;
  color: white;
}

.EmotionItem_on_5 {
  background-color: #fd565f;
  color: white;
}
